nav {
    height: 60px;
    width: 100%;
    padding: 0 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
}

.logo-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #32373b;

}

.logo-title img {
    height: 30px;
    width: 30px;
}

.logo-title h5 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: .5rem;
    margin-bottom: 0;
}

.logo-title:hover {
    color: #32373b;
}

.link-container {
    display: flex;
    justify-content: space-around;
}

.active-link,
.link {
    position: relative;
    text-decoration: none;
    color: #32373b;
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin: 0 5px;
    padding: 0 5px;
}

.active-link {
    color: #000;
}

.active-link:after {
    content: "";
    position: absolute;
    background-color: #16a085;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
}

.active-link:hover {
    color: #32373b;
}

.link:after {
    content: "";
    position: absolute;
    background-color: #16a085;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.link:hover {
    color: #000;
}

.link:hover:after {
    width: 100%;
}

.signout-btn {
    border: none;
    background: #fff;
    position: relative;
    text-decoration: none;
    color: #32373b;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 0 5px;
    padding: 0 5px;
}

.signout-btn:after {
    content: "";
    position: absolute;
    background-color: #16a085;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.signout-btn:hover {
    color: #000;
}

.signout-btn:hover:after {
    width: 100%;
}


/* Responsive
 */
@media only screen and (max-width:499px) {
    nav {
        height: 100px;
        padding: .8rem 0;
        display: flex;
        flex-direction: column;
    }

    .logo-title h5 {
        font-size: 1.2rem;
    }

    .active-link,
    .link {
        font-size: .8rem;
    }
}

@media only screen and (min-width:500px) and (max-width:767px) {
    nav {
        height: 80px;
        padding: .8rem 0;
        display: flex;
        flex-direction: column;
    }

    .logo-title h5 {
        font-size: 1.2rem;
    }

    .active-link,
    .link {
        font-size: .8rem;
    }
}